.navbar {
  padding: 10px;
  background-color: color(srgb 0.06 0.09 0.17);
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 10px;
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s ease;
  color: white;
}

.nav-links a.active {
  font-weight: bold;
}

.ipl-logo {
  width: 100px;
}

.powered-by {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-left: auto;
  color: white;
  font-weight: bold;
  margin-right: 15px;
}

.powered-text {
  font-size: 0.8rem; 
  text-transform: uppercase;
}

.fuel-up-text {
  font-size: 1rem;
  text-transform: uppercase;
}

.menu-button {
  display: none;
  color: white;
}

.mobile-sidenav {
  background-color: white;
  width: 250px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.mobile-menu a {
  color: black;
  text-decoration: none;
  margin: 8px 0;
}

.mobile-menu a:hover {
  color: #3f51b5;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .powered-by {
    display: none; /* Hide text on smaller screens */
  }
}
